* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    background-color: #d2d2d2;
    color: #ffffff;
}

.container {
    padding: 0 60px;
    margin: 0 auto;
    border: 1px solid #d2d2d2;
}

.logo {
    background-color: #69cfbf;
    height: 100px;
}

.menu {
    color: #000000;
    background-color: #ffffff;
    height: 100px;
}

.cell {
    height: 500px;
    width: 100%;
    text-align: center;
    padding: 180px 0;
}

.primary {
    background-image: url("../images/main.jpg");
}

.text-background {
    background-color: rgba(67,70,71,.4);
}

.villa-one {
    background-image: url("../images/first.jpg");
}

.villa-two {
    background-image: url("../images/second.jpg");
}

.villa-three {
    background-image: url("../images/third.jpg");
}

.more-info {
    background-color: #ffffff;
    color: #434647;
}

button {
    color: #82bfd8;
    border: 1px solid #82bfd8;
}

button:hover {
    background-color: #82bfd8;
    color: #ffffff;
    border: 1px solid #82bfd8;
}